html, body {
  background: #f2f2f2;
}
#header {
  background-color: #159690;
}
a.list-group-item-frontMenuButton, a.list-group-item-issueListButton {
  color: #fff;
}
.list-group-item-frontMenuButton, .list-group-item-issueListButton {
  background-color: #159690;
}