html, body {
  background: #f2f2f2;
}
#header {
  background-color: #159690;
}
a.list-group-item-frontMenuButton, a.list-group-item-issueListButton {
  color: #fff;
}
.list-group-item-frontMenuButton, .list-group-item-issueListButton {
  background-color: #159690;
}

#clr a, #clr a:hover {
  color: #3d3d3d;
}

#clr li, #clr li:hover {
  color: #3d3d3d;
}
#clr .menu-item-head {
  padding: 3px 20px;
}
