html {
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
#header a, #header a:hover {
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
}
 /*Nav-Bar*/
#header {
  z-index:100;
  margin-top: 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 6px 10px -5px black;
     -moz-box-shadow: 0 6px 10px -5px black;
          box-shadow: 0 6px 10px -5px black;
}
.hidden {
  display: none;
}

#nav-mobile {
  height: 40px;
  width: 100%;
}
.nav-left {
  width: 20%;
  padding-left: 1em;
}
.nav-center {
  width: 60%;
  padding-top: 8.2px;
  text-align: center;
  color : #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.nav-right {
  width: 20%;
  text-align: right;
  padding-right: 1em;
}

#reportandfix {
  padding-top: 50px;
  height: 100%;
}

/*menu buttons at the Front Page*/
.frontMenuButton .fa-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .90;
  display: inline-block;
} 

a.list-group-item-frontMenuButton, a.list-group-item-issueListButton {
  text-decoration: none;
}

.list-group-item-frontMenuButton {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  cursor: pointer;
}
  /*issue list*/
.list-group-item-issueListButton {
  position: relative;
  display: block;
  padding: 3px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.space {
  margin-top: -14px;
}

#detailImage {
  width: 100%;
  height: 200px;
  background-position: center center;
  cursor: pointer;
}
#map {
  width: 100%;
  height:200px;
  padding-right: 0px;
  padding-left: 0px;
}

/*List buttons at the Issues List page*/
.issueListButton .fa-chevron-right {
  float: right;
  margin-top: 25px;
  margin-right: -6px;
  opacity: .90;
  display: inline-block;
} 

.navbarDropDown {
  position: absolute;
  top: 100%;
  left: 0px;
  margin-top: 11px;
  text-align: left;
  z-index: 1000;
  display: none;
  width: 100%;
  font-size: 14px;
  list-style: none outside none;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
  background-clip: padding-box;
}

/* report new issue */
#reportNewIssue{
  padding-top: 10px;
}

/* custom file input */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Picture';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f3f3f3, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #000;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-file-input{
  color: transparent;
}
@media (min-width:320px) and (max-width:1024px) {
  #reportandfix {
    padding-left: 0px;
    padding-right: 0px;
  }
  #forntMenuRow {
    margin-left: 0px;
    margin-right: 0px;
  }
  #frontMenuColoumns {
    padding-left: 0px;
    padding-right: 0px;
  }
}
#chart svg {
  height: 220px;
  width: 410px;
}